# Ignore all files in the results folder
/result

# Ignore dump_log.txt (This is used for local telnet debug)
/dump_log.txt

# Ignore InputFiles folder 
/Tools/DataMapping/InputFiles

# Ignore temp_files folder 
#/Tools/temp_files

# Netbaeans local folder
/nbproject